/* Home.module.css */

.main {
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
.footer {
    margin-top: 20px;
    width: 500px;
    text-align: center;
    padding: 1rem;
    background-color: #0070f3;
    color: white;
}


.link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
.link:hover {
    background-color: #005bb5;
}
  